<div id="background">
<h1>To do list</h1>

<h2>Pending tasks</h2>
<table>
    <!-- ORDERED BY DATE -->
    <th>Title</th>
    <th>Date this task was crated</th>
    <!-- REMEMBER TO CHANGE LANGUAGE HERE-->
    <th>time spent on such task</th>
    <th>comments</th>
</table>
<hr>
<h2>Completed tasks</h2>
<table>
    <!-- ORDERED BY DATE -->
    <th>Title</th>
    <th>Date this task was crated</th>
    <!-- REMEMBER TO CHANGE LANGUAGE HERE-->
    <th>time spent on such task</th>
    <th>comments</th>
</table>

</div>
