/*
font-family: 'Roboto Mono', monospace;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap');

/*
font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;800&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, p, label {
    padding: 3% 0;
}