app-navbar {
  position: fixed;
  width: 8%;
  height: 100vh;
  left: 0;
}

app-log-managment {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20%;
  width: 100%;
}

#positioning {
  position: absolute;
  right: 0;
  width: 91.8%;
}

app-footer {
  height: 10%;
}
