app-navbar {
  position: fixed;
  width: 8%;
  height: 100vh;
  left: 0;
  border: solid 1px black;
}

#positioning {
  position: absolute;
  right: 0;
  width: 91.8%;
  border: solid 1px black;
}

#feed {
  border: solid 1px black;
}

app-footer {
  height: 10%;
}
