#logo {
    width: 50px;
    height: 50px;
    background-color: black;
}

#submenu {
  margin: 90% 0;
}

ul {
  list-style-type: none;
  margin: 30% 25%;
  padding: 0;
}

.user-state {
    padding: 100% 0;
}

li {
  padding: 15% 0;
}
