<div id="navbar">
    <ul>
        <li><a routerLink="">

            <div id="logo"></div>

        </a></li>

        <li class="user-state">
            <a routerLink="login">Login</a>
        </li>
        <li class="user-state">
            <a routerLink="logout">Log out</a>
        </li>
        <li>
            <a routerLink="dashboard">Dashboard</a>
        </li>
        <li>
            <a routerLink="tasks">Tasks</a>
        </li>
        <li>
            <a routerLink="settings">Settings</a>
        </li>
      </ul>
</div>