<div class="formDiv" *ngIf="goal == null; else elseBlock">
    <form #f="ngForm" (ngSubmit)="saveTask(f)" novalidate>

        <label>What task would you like to achive?</label>
        <input type="text" name="task" ngModel required #task="ngModel" />
        <button>Create task</button>
          
    </form>
</div>
<ng-template #elseBlock>
<div id="pomodoro">

    <p>{{ goal }}</p>
    <p>{{ status }}</p>
    <p>{{ pomodoroComplete }}</p>
    
    <p id="time">{{ secondsToMinutes }}</p>

<div *ngIf="active == false; else pauseReset">
    <button id="start" (click)="start()" >Start</button>
</div>
<ng-template #pauseReset>
    <button id="pause" (click)="pause()" >Pause</button>
    <button id="stop" (click)="reset()" >reset</button>
</ng-template>
</div>
</ng-template>
