:host {
    min-height: 100vh;
}

#pomodoro {
    width: 400px;
    height: 400px;
    background: black;
    margin: 5% auto;
    padding: 4%;
}

#background {
    border: solid 1px black;
  }

p {
    text-align: center;
    font-size: 1em;
    color: white;
}

#time {
    text-align: center;
    font-size: 7em;
    color: white;
}

/*
#start {}
#pause {}
#stop {}
*/